# System files
.CFUserTextEncoding
.lesshst
.swiftpm/
.viminfo
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
.Trash/

# User directories
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
